* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

:root {
  ::-webkit-scrollbar {
    width: .7rem;
  }
  ::-webkit-scrollbar-track {
    background: color(body-bg-color);
  }
  ::-webkit-scrollbar-thumb {
    background: color(text-color);
    border-radius: 1rem;
  }
}

html {
  background-color: color(body-bg-color);
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
}

.container {
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.wrapper-main-content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

h2 {
  font-size: size(lg);
  font-weight: bold;
  margin-bottom: 1.25rem;
}

a, li, ul {
  text-decoration: none;
  list-style: none;
}

a {
  color: color(text-color);
  font-size: size(sm) + .0625rem;
  font-weight: 400;
}

a:hover {
  color: lighten($color: color(text-color), $amount: 30%);
}