* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

html {
  background-color: color(body-bg-color);
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
}

.container {
  padding: 2.5rem 2.5rem 0 2.5rem;
}

h2 {
  font-size: size(lg);
  font-weight: bold;
  margin-bottom: 1.25rem;
}

a, li, ul {
  text-decoration: none;
  list-style: none;
}