@mixin flexPosition($flexDirec: row, $alignI: center, $justiCont: center) {
  display: flex;
  flex-direction: $flexDirec;
  align-items: $alignI;
  justify-content: $justiCont;
}

@mixin card($padding: 1.875rem 1.25rem) {
  padding: $padding;
  box-sizing: border-box;
  height: fit-content;
  background-color: color(bg-cards);
  color: color(text-color);
  border-radius: 1.25rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}