// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  img {
    align-self: flex-start;
  }
}

a, li, ul {
  list-style: none;
  text-decoration: none;
}