// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 93.75%; // 15px
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: color(green-bg);
}

main {
  display: grid;
  grid-template-columns: 16.66rem auto;
  color: color(text-color);
}

a, li, ul {
  list-style: none;
  text-decoration: none;
}