* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

html {
  font-size: 93.75%; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #18c29c; }

main {
  display: grid;
  grid-template-columns: 16.66rem auto;
  color: #084236; }

a, li, ul {
  list-style: none;
  text-decoration: none; }

.nav-bar {
  max-width: 16.66rem;
  background-color: #18c29c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s; }
  .nav-bar-header {
    padding: 1.6rem 0.93rem; }
    .nav-bar-header header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .nav-bar-header header p {
        display: flex;
        align-items: center;
        column-gap: .33rem;
        margin-left: 1rem;
        font-weight: 500; }
      .nav-bar-header header .toggle-button {
        display: flex;
        align-items: center;
        cursor: pointer; }
    .nav-bar-header .search {
      margin-top: 1.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: #8ed7c6;
      padding: .86rem;
      border-radius: .8rem; }
      .nav-bar-header .search input {
        outline: none;
        border: none;
        background: url("./images/search.svg") no-repeat left center;
        padding-left: 2rem; }
    .nav-bar-header nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 1.6rem 0.93rem;
      margin-top: 1.33rem; }
      .nav-bar-header nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 2.33rem; }
        .nav-bar-header nav ul li a {
          display: flex;
          align-items: center;
          column-gap: .86rem;
          color: #084236;
          transition: color .3s; }
          .nav-bar-header nav ul li a:hover {
            color: #10866e; }
  .nav-bar .footer {
    height: 4rem;
    padding: .53rem .93rem;
    box-sizing: border-box;
    background-color: #8ed7c6; }
    .nav-bar .footer-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .nav-bar .footer-wrapper img {
        width: 3rem;
        height: 3rem; }
      .nav-bar .footer-wrapper .footer-description {
        display: flex;
        align-items: center;
        column-gap: .6rem; }
        .nav-bar .footer-wrapper .footer-description-user h2, .nav-bar .footer-wrapper .footer-description-user p {
          font-weight: 400; }
        .nav-bar .footer-wrapper .footer-description-user h2 {
          font-size: 1rem; }
        .nav-bar .footer-wrapper .footer-description-user p {
          font-size: 0.8rem; }
      .nav-bar .footer-wrapper .footer-logout-button {
        width: 1.6rem;
        height: 1.6rem;
        cursor: pointer; }
        .nav-bar .footer-wrapper .footer-logout-button img {
          width: 100%;
          height: 100%; }

main.active {
  grid-template-columns: 5.2rem auto; }
  main.active .nav-bar {
    max-width: 5.2rem; }
    main.active .nav-bar-header {
      display: flex;
      flex-direction: column; }
      main.active .nav-bar-header header {
        flex-direction: column; }
      main.active .nav-bar-header p {
        display: none; }
    main.active .nav-bar .search {
      transition: width .3s linear;
      background-color: #dce4e3; }
      main.active .nav-bar .search input::placeholder {
        opacity: 0; }
      main.active .nav-bar .search input:focus::placeholder {
        opacity: 1; }
    main.active .nav-bar nav li a span {
      display: none; }
    main.active .nav-bar .footer {
      display: flex;
      align-items: center;
      justify-content: center; }
      main.active .nav-bar .footer-description {
        display: none; }

section.dashboard {
  padding: 1.2rem 1.2rem;
  background-color: #dce4e3;
  width: 100%; }
  section.dashboard h1 {
    font-weight: 500;
    font-size: 1.66rem; }
