button.save {
  width: 100%;
  height: 50px;
  border: none;
  color: #FFF;
  background-color: color(green);
  border-radius: .25rem;
  cursor: pointer;
}
button.save:hover {
  background-color: color(light-green);
}
.button.cancel {
  color: color(red);
  border: 2px color(red) solid;
  border-radius: .25rem;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: .6;
}
.button.cancel:hover {
  opacity: 1;
}
button.submit {
  width: 10rem;
  height: 2.87rem;
  border-radius: .62rem;
  background-color: color(purple);
  color: #FFF;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  transition: transform .3s;
}

button.submit:active {
  transform: translateY(.3rem);
}