.aside-content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  margin-right: 2.5rem;

  &-header {
    @include flexPosition(column);
    @include card(1.875rem);

    h1 {
      font-size: size(xl);
      margin-bottom: .62rem;
    }

    p {
      font-size: size(sm);
      font-weight: 300;
    }
  }

  &-information {
    @include card(1.875rem 2.5rem);
    
    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-item {
        a {
          font-size: size(sm);
          display: flex;
          align-items: center;
          width: fit-content;
  
          img {
            margin-right: 1.25rem;
          }
        }
      }
    }
  }

  &-technologies {
    @include card;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: .93rem;
      padding: 0 .62rem;
    }
  }

  &-experiences {
    @include card;
  }

  &-education {
    @include card;

    .list-item {
      a:hover {
        color: color(text-color);
        cursor: auto;

        img:hover {
          cursor: pointer;
        }
      }
    }
  }
}