.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;

  .description {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: size(lg);
      color: color(purple);
      letter-spacing: .105em;
    }

    &-counter {
      font-size: size(xl);
      color: color(black);
      display: flex;
      text-align: center;
    }

    p {
      font-weight: 400;
      font-size: size(sm);
      color: color(text-color);
    }
  }
}